[user]
	email = norimasa.ando@gmail.com
	name = NorimasaAndo
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
  re = remote
	lg = log --format='%Cred%h%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset%C(yellow)%d%Creset' --no-merges
[core]
	editor = /usr/bin/vim
	precomposeunicode = true
[github]
	user = hbd225
